<h1>Hello World!</h1>

<p><%= 'It is now ' + @time %></p>
Say <a href="/say/goodbye">Goodbye!</a>
<br>
<p><%= link_to "Goodbye!",say_goodbye_path  %>  </p>

<%= 1.hour.from_now %>  <br>
<%= 1.from_now %>  <br>
<%= 1.hour %>
